@import 'maplibre-gl/dist/maplibre-gl.css';
@import 'maplibre-gl-opacity/dist/maplibre-gl-opacity.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
